.rowC{display:flex;  justify-content: space-between; width: 100%;}
.colC{display:flex; margin-left: 200px; align-items:center ; flex-direction: column;}
.text{margin-top: 10px; margin-left: -50px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}